<!-- data_visual/templates/index.html -->

<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% block 'title' %} 
    {% endblock 'title' %}
    
    {% block 'head' %} 
    {% endblock 'head' %}

</head>
<body>
    <div class="dashboard-container">
        {% block 'sidebar' %}
        {% endblock 'sidebar' %}

        {% block 'map' %}
        {% endblock 'map' %}

        {% block 'script' %}
        {% endblock 'script' %}
    </div>
</body>
</html>