<!-- templates/visualization/base.html -->
{% load static %} 

<!DOCTYPE html>
<html>
<head>
    <title>Mapa SP - Ciclovias</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"/>
    <link rel="stylesheet" href="{% static 'data_visual/css/style.css' %}">
    {% block 'head' %}{% endblock 'head'%}
</head>

<body>
    <div class="dashboard-container">
        <header class="dashboard-header">
        </header>
        
        <div class="main-content">
            <aside class="sidebar">
                {% include 'visualization/partials/_sidebar.html' %}
            </aside>
            
            <main class="map-container">
                {% block map_content %}
                {% endblock %}
            </main>
        </div>
    </div>
    
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    <script src="{% static 'visualization/js/map.js' %}"></script>
</body>
</html>