{% load static %}

{% block 'head' %}
    <link rel="stylesheet" href="{% static 'data_visual/css/style.css' %}">
{% endblock 'head'%}

<body>
    <div class="header">
        <h1><i class="fas fa-map-marked-alt"></i> {{ title }}</h1>
    </div>
    
    <div id="map">
        {{ map_html|safe }}
    </div>

    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    <script>
        // Scripts adicionais para interatividade
        document.addEventListener('DOMContentLoaded', function() {
            console.log('Mapa de São Paulo carregado!');
        });
    </script>
</body>
</html>
